[Desktop Entry]
Name=Klaro
Comment=Translation application
Version=1.0
Exec=klaro
Icon=io.github.denysmb.klaro
Type=Application
Terminal=false
Categories=Utility
